.header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.logo img {
  height: 50px;
}

.product-list {
  margin-top: 20px;
  margin-left: 120px;
}

.product-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-left: 120px;
}

.filter-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
